#main > * {
  padding: 4rem 4rem 4rem 4rem;
}

/* This is for insurance */
.row.d-flex {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .row.d-flex {
    flex-direction: column;
  }

  .row.d-flex > [class*="col-"] {
    width: 100%;
  }
}

.image-logo {
  width: 400px;
}

.logo {
  background-color: white;
}

/* intro design and make the background color to gradient */

#intro {
  background: radial-gradient(circle at center, #b12318, #04225c);
}

/* main background color cahgen  */
#wrapper > .bg {
  background-image: none;
  background: radial-gradient(circle at center, #b12318, #04225c);
}
