#main > * {
  padding: 4rem 4rem 4rem 4rem;
}

/* This is for insurance */
.row.d-flex {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .row.d-flex {
    flex-direction: column;
  }

  .row.d-flex > [class*="col-"] {
    width: 100%;
  }
}

.image-logo {
  width: 400px;
}

.logo {
  background-color: white;
  border-radius: 10px;
}

/* intro design and make the background color to gradient */

#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/1200x/8c/6a/84/8c6a8477651aba1ace84c25bea19e45e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main background color cahgen  */
#wrapper > .bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/1200x/8c/6a/84/8c6a8477651aba1ace84c25bea19e45e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


